*{
    margin: 0px;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

body{
    background-color: rgb(39, 34, 34);
    text-align: center;
}
.active {
    box-shadow: inset 0px 0px 10px 5px rgb(132, 138, 138); 
    filter: brightness(2) opacity(1.2);
}

.btnclick{
    box-shadow: inset 0px 0px 0px 3px rgb(39, 41, 41);
    box-sizing: border-box;
}

.btncolor {
    width: 150px;
    height: 150px;
    cursor: pointer;
    box-shadow: inset 0px 0px 10px 2px rgb(31, 32, 32), 1px 1px 10px 2px #92bcbe; 
    
}

.btncolor:hover{
    box-shadow: inset 0px 0px 20px 5px rgb(39, 41, 41), 1px 1px 10px 2px #92bcbe; 
    box-sizing: border-box;
}

#blue {
    background-color: rgb(17, 17, 117);
    border-bottom-left-radius: 100%;
}
#red {
    background-color: rgb(126, 21, 21);
    border-bottom-right-radius: 100%;
}
#yellow {
    background-color: rgb(124, 124, 19);
    border-top-left-radius: 100%;
}
#green {
    background-color: rgb(12, 99, 12);
    border-top-right-radius: 100%;
    
}


.row{
    display: inline-block;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 10px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: black;
    color: rgb(176, 189, 184);
    align-items: center;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: rgb(9, 199, 54) 1px 1px 1px;
    box-shadow: 1px 1px 15px 2px #000000;
}

#gameover{
    text-shadow: rgb(231, 94, 94) 1px 1px 1px;
    color: rgb(249, 0, 0);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    line-height: 22px;
    cursor: default;
}

#restart{
    color: rgb(176, 189, 184);
    text-shadow: rgb(9, 199, 54) 1px 1px 1px;
    font-size: 14px;
    margin-top: 8px;
}
#restart:hover{
    color: aqua;
    cursor: pointer;
}

#contagem{
    font-family: 'Orbitron', sans-serif;
    color: red;
    background-color: #2c2929;
    text-shadow: rgb(134, 33, 13) 1px 2px 5px;
    margin-top: 10px;
    padding: 3px;
    border-radius: 20%;
    width: 30px;
}

.center:hover{
    color: aqua;
    cursor: pointer;
}

#dev {
    background-color: rgb(39, 34, 34);
    color: #d2c6c6;
    text-align: center;
    font-size: 10px;
    padding-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
    border: none;
}

#dev a {
    color: #10757c; ;
}